* {
    box-sizing: border-box;
}
:root {
    --primary-bg: #10375c;
}
html {
    font-size: 62.5%;
}
:root {
    --primary-bg: #10375c;
    --second-bg: #2e80ce;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 205px;
    padding: 21px 16px;
    border-radius: 999px;
    background: var(--second-bg);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}
.btn:hover {
    opacity: 0.9;
}
.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.control {
    display: flex;
    column-gap: 18px;
}
.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575f66;
    background: #fff;
    border: 1px solid currentColor;
    cursor: pointer;
}
.control__btn:hover {
    color: #fff;
    background: var(--second-bg);
    border-color: currentColor;
}
/* ========== Header ========== */

.header {
    background: var(--primary-bg);
    min-height: 100vh;
    padding: 30px 0 110px;
}
/* Header-Top */
.header-top {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-flex;
    font-size: 1rem;
}
.logo__icon {
    position: relative;
    margin-right: 0.6em;
}
.logo__icon::before,
.logo__icon::after {
    content: "";
    display: inline-block;
}
.logo__icon::before {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--second-bg);
}
.logo__icon::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    border-radius: 50%;
}
.logo__text {
    color: #fff;
    text-align: right;
    line-height: 1.6em;
}
.logo__title {
    font-size: 1.8em;
}
.logo__subtitle {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */
.navbar {
    margin-left: 297px;
}
.navbar_list {
    display: flex;
}
.navbar__link {
    position: relative;
    padding: 16px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    /* font-weight: 400; */
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* Action */
.header-action {
    margin-left: auto;
}
.header-action__login {
    color: #c9d2da;
    font-family: Sora;
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 300;
}
.header-action__signup {
    margin-left: 28px;
    min-width: 104px;
    padding: 8px 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}
/* ========== Hero ========== */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content {
    width: 44%;
}
.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 17px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}
.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67;
}
.hero__images {
    display: flex;
    align-items: center;
}
.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__img:first-child {
    position: relative;
    left: 6px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}
/* ========== Service ========== */
.service {
    padding: 70px 0;
    margin: 100px 0;
}
.service__heading,
.service__desc {
    text-align: center;
}
.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}
.service__row {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}
.service__image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
/* Service-Item */
.service-item {
    padding: 21px 22px 20px;
    display: flex;
    gap: 19px;
    width: 470px;
    cursor: pointer;
}
.service-item:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__icon {
    flex-shrink: 0;
    color: #eff6fd;
    --color-teeth: #10375c;
}
.service-item:hover .service-item__icon {
    color: var(--second-bg);
    --color-teeth: #fff;
}
.service-item__text {
    align-self: flex-end;
}
.service-item__title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}
.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.service__btn {
    margin-top: 55px;
}

/* ========== Work ========== */
.work {
    padding: 100px 0;
    background: #f6fbff;
}
.work__desc {
    width: 468px;
}
.work__list {
    margin-top: 70px;
    display: flex;
    gap: 62px;
}
/* Work-Item */
.work-item {
    cursor: pointer;
    padding: 43px 42px;
    background: #fff;
    outline: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}
.work-item:hover:hover {
    transform: translateY(-16px);
    outline-color: var(--second-bg);
}
.work-item__title {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item__learn-more {
    display: inline-block;
    margin-top: 18px;
    color: var(--second-bg);
    font-size: 1.6rem;
    line-height: 1.75;
}

/* ========== Feature ========== */
.feature {
    padding: 85px 0;
}
.feature__row {
    display: flex;
    gap: 130px;
    align-items: center;
}
.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}
.feature__img {
    object-fit: cover;
    border-radius: 6px;
    width: 512px;
    height: 370px;
}
.feature__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    height: 370px;
}
.feature__content {
    width: 40%;
}
.feature__desc {
    margin-bottom: 38px;
}
/* ========== Member ========== */
.member {
    padding-top: 85px;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 38px;
}
.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.member-item__bg-avatar {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
}
.member-item__avatar {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}
.member-item__avatar:hover {
    transform: scale(1.1);
}
.member-item__title {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}
.member-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}
.member__control {
    justify-content: center;
    margin-top: 38px;
}
/* ========== Install ========== */
.install {
    margin-top: 180px;
    padding-bottom: 85px;
}
.install__inner {
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: #2e80ce;
}
.install__img {
    display: block;
    margin-top: -95px;
}
.install__content {
    max-width: 586px;
}
.install__heading,
.install__desc {
    color: #fff;
}
.install__heading {
    max-width: 489px;
}
.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}
/* ========== News ========== */
.news {
    padding-top: 85px;
}
.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__heading {
    max-width: 470px;
}
.news__view-all {
    display: inline-block;
    margin-top: 28px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.news__control {
    margin-top: 28px;
}
.news__list {
    width: 49%;
    display: flex;
    column-gap: 30px;
}

/* News-Item */
.news-item {
    flex-grow: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}
.news-item:hover {
    transform: translateY(-16px);
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news-item:hover .news-item__body {
    border-color: #fff;
}
.news-item__img {
    display: block;
    width: 100%;
    height: 172px;
}
.news-item__body {
    padding: 22px;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    transition: 0.25s;
}
.news-item__title {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}
.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}
.news-item__learn-more {
    display: block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
}
